body {
    font-family: "Lucida Console", Monaco, monospace;
}
h2, h3, h4, h5, h6 {
    color: black;
    text-align: center;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  color: #555;
  transform: skew(-12deg) rotate(-12deg);
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  text-align: center;
}
.container {
    position: relative;
    text-align: center;
    color: white;
}
.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
